/* src/pages/Contacto/Contacto.css */
.contact-card {
  background-color: white;
  border: 1px solid var(--champagne-pink);
  border-radius: 1rem;
  padding: 1.5rem;
}

.contact-card-title, .contact-card-subtitle {
  color: var(--jet);
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.contact-info i {
  color: var(--fawn);
  font-size: 1.5rem;
  margin-right: 1rem;
}

.contact-info a, .contact-info span {
  color: var(--battleship-gray);
  text-decoration: none;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: var(--jet);
}

.social-links-contacto a {
  color: var(--jet);
  font-size: 1.8rem;
  margin-right: 1.2rem;
  transition: color 0.3s;
}

.social-links-contacto a:hover {
  color: var(--fawn);
}

.map-responsive {
  position: relative;
  overflow: hidden;
  height: 450px; /* Altura fija para el mapa */
  border-radius: 1rem;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}